*.o
*.obj
backup/mak/backup
backup/mak/restore
echoget/mak/echoget
filecomp/mak/filecomp
*.a
.echoget-lockfile
*.exe
!pracman/pracman_data/echoview/EchoView.exe
*.tds
*.dsk
*.~cpp
*.~dsk
*.~bpr
*.~h
*.~ddp
*.~dfm
pracman.prefs
mbUtils.lib
mbSqlLib.lib
hpSonosDB.lib
hpSonosLib.lib
*.bak
*.log
reports/*.txt
.idea
md5sum_cache_*
