<HTML><HEAD><Title>Appointment Letter</TITLE></HEAD><BODY>
<CENTER>
<H5>
Dr. T. L. Bree, M.D., F.R.C.P.(C)  -  Cardiology<BR>
</H5><H6>
402 Queen Street, Saskatoon, SK, S7K 0M3<BR>
Phone: (306) 975-0600    Fax: (306) 978-5254
</H6></CENTER>
<pre></pre>
[__TITLE__] [__FIRST_NAME__] [__LAST_NAME__]<br>
[__ADDRESS1__]<br>
[__ADDRESS2__]<br>
[__CITY__] [__PROVINCE__]<tt>     </tt>[__POSTAL_CODE__]<br>
<pre></pre>
Dear [__TITLE__] [__LAST_NAME__],
<p>
An Echocardiogram (heart ultrasound test)
has been arranged for you at the office of Dr. T. L. Bree:

<p><center><H5>
Echocardiogram - [__APP_TIME__], [__APP_DATE__].
</H5></center>

<p>
This test will take approximately 30 minutes to 
complete. If you are unable to attend this appointment, or if you have
any questions or concerns, please contact Dr. Bree's  office 
as soon as possible.

<p><center><H6>
What is an Echocardiogram?
</H6></center>

<p>
An Echocardiogram (Echo) is a useful test for studying the heart's
anatomy and function, including chamber size, wall motion, and
valve structure and function.

<p>
An Echo uses sound waves to form an image of the heart valves and
walls.  The Echo machine sends sound waves to a transducer 
(sound sensitive instrument) that is placed on the chest.  The sound 
waves are reflected by the heart back to the transducer, which 
interprets the reflections as an image.  
The test causes no discomfort.  It is non-invasive and entirely safe.

<p>
You will be asked to remove all clothing above the waist, and given
a front opening hospital gown.  ECG patches are placed on your chest 
while you are lying on your back.  The sonographer applies a gel (which
feels cold) to your chest, and a transducer is placed over the 
heart area.  Heart structures are examined by changing the 
direction of the transducer.  The ECG records the heart's 
electrical activity, which helps the doctor interpret your test.
When the Echo is complete, the gel is easily removed.
<p>
</BODY></HTML>
