<HTML><HEAD><Title>Appointment Letter</TITLE></HEAD><BODY>
<CENTER>
<H5>
Dr. T. L. Bree, M.D., F.R.C.P.(C)  -  Cardiology<BR>
</H5><H6>
Suite 203 - 728 Spadina Crescent East, Saskatoon, SK, S7K 4H7<BR>
Phone: (306) 975-0600    Fax: (306) 978-5254
</H6></CENTER>
<pre></pre>
[__TITLE__] [__FIRST_NAME__] [__LAST_NAME__]<br>
[__ADDRESS1__]<br>
[__ADDRESS2__]<br>
[__CITY__] [__PROVINCE__]<tt>     </tt>[__POSTAL_CODE__]<br>
<pre></pre>
<pre></pre>
<pre></pre>
[__PRINT_DATE__]<br>
<pre></pre>
<p>
Dear [__TITLE__] [__LAST_NAME__],
<p>
This letter is to notify you that Dr. T. L. Bree has
arranged the following test for you at Royal University Hospital 
in the Electrodiagnostics Department:

<p><center><H3>
Tilt Table Test - [__APP_TIME__], [__APP_DATE__].
</H3></center>

<p>
Please report to Admitting at least 30 minutes prior to your appointment.

<p>
If you are unable to attend this appointment, or if you have
any questions or concerns, please contact our office 
as soon as possible.<p>
<pre>

</pre>

</BODY></HTML>
