<HTML><HEAD><Title>Appointment Letter</TITLE></HEAD><BODY>
<CENTER>
<H5>
Dr. T. L. Bree, M.D., F.R.C.P.(C)  -  Cardiology<BR>
</H5><H6>
402 Queen Street, Saskatoon, SK, S7K 0M3<BR>
Phone: (306) 975-0600    Fax: (306) 978-5254
</H6></CENTER>
<pre></pre>
[__TITLE__] [__FIRST_NAME__] [__LAST_NAME__]<br>
[__ADDRESS1__]<br>
[__ADDRESS2__]<br>
[__CITY__] [__PROVINCE__]<tt>     </tt> [__POSTAL_CODE__]<br>
<pre></pre>
<p>
Dear [__TITLE__] [__LAST_NAME__],
<p>
This letter is to confirm your appointment with
[__PROVIDER_DESC__] at:

<p><h5><center> 
[__APP_TIME__], [__APP_DATE__].
</h5></center>

<p>
Please bring all prescription and non prescription 
medications that you are currently taking. 

<p>
If you are unable to attend your appointment, or if you have
any questions or concerns, please contact our office.  

</BODY></HTML>
